body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.h3 small{
    color: antiquewhite;
    padding-right: 10px;
}

.bg-1 {
    background-color: #E65250;
    color: #ffffff;
}

.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.dl-horizontal dt{
    text-align: left;
    white-space: normal;
    width: 200px;
}


.table > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #ea6260;
    border:0;

}
.fixed-table-container,.table > tbody tr > td,.table > thead> tr > th{
    border:0;

}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: maroon;
}

#message {
    background-color: black;
}

#multiselect_rightAll, #multiselect_rightSelected, #multiselect_leftSelected, #multiselect_leftAll
{
    color: #ea6260;
}


